[include]
  path = ~/.gitconfig.local
[user]
  name = Michael Cooney
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[alias]
  ai = "add -i"
  ap = "add -p"
  l = "log --pretty=format:'%Cgreen%h %C(yellow)%as %Cblue<%an> %Creset%s'"
  s = status
  st = !tig status
  p = pull
  pm = "push mine"
  po = "push origin"
  f = fetch
  fo = "fetch origin"
  fa = "fetch --all"
  d = diff
  ds = "diff --staged"
  c = "commit -v"
  ca = "commit -av"
  b = branch -vv --sort=committerdate
  br = "branch -r"
  bro = "!git branch -r | grep '^\\s*origin/'"
  co = checkout
  cob = "checkout -b"
  watchanged = whatchanged
[merge]
  tool = vimdiff
[push]
  default = upstream
[branch]
  autosetuprebase = always
